.fab-icon {
	margin-top: 16px;
}
.font-style {
	font-weight: 2;
}
.font_color {
	color: $color_2;
}
.margin_form {
	margin-left: 25px;
}
.form_height {
	grid-auto-rows: 3;
}
.text-align {
	text-align: justify;
}