$color_1: #fff;
$color_2: black;

/* WhatsApp Icon */
.whatsapp {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 9999;
	width: 60px;
	height: 60px;
	background: #25d366;
	color: $color_1;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	box-shadow: 2px 2px 3px #999;
	transition: 0.5s;
}